<footer class="bg-dark text-light py-3">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>TEAMS</h5>
      <ul class="list-unstyled">
        <li>About</li>
        <li>News blog</li>
        <li>Brand Guideline</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>CONTACTS</h5>
      <ul class="list-unstyled">
        <li>Translators & Editors</li>
        <li>Commercial</li>
        <li>Audio business</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Help & Service</h5>
      <ul class="list-unstyled">
        <li>DMCA Notification</li>
        <li>novel realm Forum</li>
        <li>Online service</li>
        <li>Vulnerability Report</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>RESOURCES</h5>
      <ul class="list-unstyled">
        <li>Tags</li>
        <li>Download Apps</li>
        <li>Be an Author</li>
        <li>Help Center</li>
        <li>Privacy Policy</li>
        <li>Terms of Service</li>
        <li>Keywords</li>
        <li>Affiliate</li>
      </ul>
    </div>
  </div>
</div>
</footer>
